.about {
  padding-top: min(10rem, calc(0rem + 20vw));
  padding-bottom: min(10rem, calc(0rem + 20vw));
  overflow-x: hidden;
}

.about__main {
  display: flex;
  flex-wrap: wrap;
  column-gap: min(3.5vw, 3rem);
  row-gap: 0rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
}

.about__left {
  flex: 1 1 50ch;
}

.about__right {
  flex: 2 1 35%;
  margin-bottom: 1rem;
}

.about__headline {
  font-size: min(calc(1rem + 2.5vw), 2.8rem);
  text-align: center;
  font-weight: 700;
  line-height: 1.1;
  width: 90%;
  margin: 0 auto 1.2rem;
}

.about__article p {
  font-size: 1.1rem;
  line-height: 1.55em;
  margin-block-end: 1rem;
}

.about__technologies {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.about__technology {
  font-size: min(calc(0.75rem + 0.4vw), 1rem);
  font-weight: 400;
  display: inline-block;
  padding: 0.5em 1.05em;
  margin-right: 0.4em;
  margin-bottom: 0.45em;
  border-radius: 100px;
  user-select: none;
}

.about__tagline {
  font-size: 1.9rem;
  line-height: 1.1em;
  font-weight: 600;
  margin-bottom: 1rem;
}

.about__email {
  font-size: 1.1rem;
  margin-top: 1rem;
  margin-right: 1.4rem;
}

.about__resume {
  margin-top: 1rem;
  display: inline-block;
}

.about__traits__container {
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__traits {
  text-align: center;
  width: 1000px;
}

.about__traits-1 {
  color: #ffc6ae;
}
.about__traits-2 {
  color: #fa9e62;
}
.about__traits-3 {
  color: #f2713a;
}

.about__trait {
  display: inline-block;
  font-size: min(calc(0.7rem + 1.2vw), 1.4rem);
  margin-right: min(calc(0.4rem + 0.5vw), 1rem);
  margin-left: min(calc(0.4rem + 0.5vw), 1rem);
  margin-bottom: min(calc(0.4rem + 0.5vw), 1rem);
  transition: letter-spacing 1.2s, filter 5s;
  cursor: default;
}

.about__trait:hover,
.about__trait:active {
  filter: brightness(10) saturate(0);
  letter-spacing: 0.1rem;
  transition: letter-spacing 0.5s, filter 1.5s;
}
