:root {
  --dark-gray: #1e1e20;
  --p-gray: #41444d;
  --disabled-gray: #828692;
  --light-blue: #eff3f6;
  --bright-blue: #2e77dd;
  --contained-width: min(90vw, 1140px);
}

html {
  max-width: 100vw;
  color: var(--dark-gray, #1e1e20);
  font-family: Inter, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: white;
  background: linear-gradient(90deg, #0b1321, #111e35);
}

body {
  overflow: overlay;
  margin: 0;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page__main {
  padding-top: 4.2rem;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: min(calc(0.9rem + 0.5vw), 1.2rem);
}
h4 {
  font-size: 1.2rem;
}

h1,
h2 {
  letter-spacing: -0.02em;
}

p {
  color: var(--p-gray, #41444d);
  line-height: 1.4em;
}
a {
  color: var(--bright-blue, #2e77dd);
  text-decoration: none;
}

a button {
  cursor: pointer;
  font-family: Inter, sans-serif;
  font-size: min(calc(0.6rem + 1.2vw), 1.1rem);
  font-weight: 600;
  letter-spacing: -0.01em;
  border-radius: 8px;
  padding: 0.8rem 1.5rem;
  background-color: white;
  transition: color 0.2s, transform 0.2s, box-shadow 0.3s, background-color 0.2s,
    border-color 0.2s;
}

.button__large {
  font-weight: 500;
  padding: 0.85em 2em;
}

.button__orange {
  color: white;
  background: -webkit-linear-gradient(82deg, #db472d, #e09136);
  background: -moz-linear-gradient(82deg, #db472d, #e09136);
  background: -o-linear-gradient(82deg, #db472d, #e09136);
  background: linear-gradient(82deg, #db472d, #e09136);
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  -o-transition: background 0.3s;
  transition: background 0.3s;
  background-size: 40rem 4rem;
  border: 0;
}
.button__large.button__orange:hover {
  background-position: -13rem;
}
.button__large.button__orange:active {
  transition: background 0.15s;
  background-position: -3rem;
}

.button__outline {
  color: #dce7f2;
  background: none;
  border: 2px solid #9ecbff;
}

.contained {
  width: var(--contained-width);
  margin: 0 auto;
}

.section-title {
  display: inline-block;
  width: 100%;
  text-align: center;

  color: #9ecbff;
  font-weight: 400;
  margin-bottom: min(calc(1rem + 2vw), 3rem);
}

div.anchor {
  height: 0;
  width: 0;
  display: block;
  position: relative;
  top: max(calc(-5rem - 20vh), -25rem);
  visibility: hidden;
}

.link-default {
  color: white;
  font-family: Inter, sans-serif;
  font-weight: 500;
  font-size: 1.1rem;
  letter-spacing: -0.02em;
  text-decoration: none;
  transition: color 0.1s, border-bottom-color 0.1s;
}
.link-default:hover {
  color: #9ecbff;
}
.link-default:active {
  color: #4274cf;
}

a.disabled,
a.disabled:hover,
a.disabled:active {
  pointer-events: none;
  color: var(--disabled-gray, #828692);
  border-bottom: none;
}
