.projects {
  padding-bottom: min(6rem, calc(0rem + 6vw));
}

.more-projects {
  padding-bottom: min(6rem, calc(0rem + 15vw));
}

.projects__main {
}

.project {
  background: linear-gradient(75deg, #182443, #273b61);
  width: 100%;
  margin-bottom: min(calc(0.5rem + 3vw), 2rem);
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 3px 6px 18px 0px rgba(0, 0, 0, 0.3);
  transition: filter 0.8s, box-shadow 0.6s;
}

.project:hover {
  filter: brightness(1.11);
  box-shadow: 4px 8px 22px 0px rgba(0, 0, 0, 0.4);
  transition: filter 0.3s, box-shadow 0.2s;
}

.project-large {
}

.project-small {
  margin-bottom: min(calc(0.5rem + 2vw), 1.2rem);
}

.project__left {
  padding: 2.2em 3em 2.2em 2em;
  width: 55%;
}

.project-small .project__left {
  padding: 1.8em 1.8em 1.8em 2em;
}

.project__left__title-bar {
  width: 100%;
  display: flex;
  align-items: center;
}

.project-small__github {
  margin-left: auto;
  transition: transform 0.2s;
}

.project-small__github img {
  position: relative;
  top: -0.35em;
  width: 1.8em;
  height: 1.8em;
}

.project-small__github:hover {
  transform: scale(1.1);
}
.project-small__github:active {
  transition: transform 0.05s;
  transform: scale(1.06);
}

.project-small .project__technologies {
  margin-left: 1.2rem;
  padding-bottom: 0.3em;
}

.project-small .project__title {
  font-size: min(calc(1rem + 1.8vw), 1.8rem);
  padding-bottom: 0.3em;
}

.project-small .project__description {
  padding-bottom: 0;
  width: 95%;
}

.project-small .project__img__container {
  height: 100%;
  background-position: left center;
  background-size: cover;
}

.project__right {
  width: 45%;
}

.project__img__container {
  height: 100%;
  background-size: 125%;
}

/* .project-large__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
} */

.project__title {
  color: #dce7f2;
  font-size: min(calc(1.2rem + 1.8vw), 2.1rem);
  font-weight: 700;
  padding-bottom: 1rem;
}

.project__technologies {
  padding-bottom: 0.5rem;
}

.project__technology {
  font-size: min(calc(0.6rem + 0.5vw), 0.8rem);
  font-weight: 900;
  display: inline-block;
  padding: 0.45em 0.75em 0.35em;
  margin-right: 0.2rem;
  margin-bottom: 0.3rem;
  border-radius: 0.6em;
  user-select: none;
  text-transform: uppercase;
}

.project__description {
  color: #afc7de;
  font-size: min(calc(0.7rem + 0.5vw), 0.95rem);
  padding-bottom: 1.3em;
}

.project button {
  font-size: min(calc(0.65rem + 0.5vw), 0.9rem);
  font-weight: 700;
  letter-spacing: -0.01em;
  border-radius: 0.6em;
  padding: 0.6em 1em;
  margin-right: 0.5em;
  transition: background-color 0.3s;
}

.project button:hover {
  background-color: rgba(255, 255, 255, 0.06);
}
.project button:active {
  background-color: rgba(255, 255, 255, 0.2);
}

.project-large__github {
  position: relative;
}

.project-large__github img {
  position: absolute;
  top: 0.6em;
  left: 0.9em;
  width: 1.1em;
  height: 1.1em;
}

.project-large__github span {
  margin-left: 1.3em;
}

@media screen and (max-width: 576px) {
  .project-large {
    flex-direction: column;
  }
  .project__title {
    padding-bottom: 0.7rem;
  }
  .project__technology {
    margin-right: 0.2rem;
    margin-bottom: 0.2rem;
  }
  .project__technologies {
    padding-bottom: 0.4rem;
  }
  .project__left {
    box-sizing: border-box;
    padding: 1.5em 1.2em 1.3em;
    width: 100%;
  }
  .project__right {
    width: 100%;
    height: 6rem;
  }
  .project__img__container {
    background-position: center;
    background-size: cover;
  }

  .project-small .project__left {
    padding: 1.5em 1.2em 1.3em;
    width: 100%;
  }
  .project-small .project__description {
    width: 100%;
  }
  .project-small .project__right {
    display: none;
  }
}

@media screen and (max-width: 920px) {
  .project-small .project__technologies {
    display: none;
  }
}
