.projects {
  padding-bottom: 8rem;
}

.projects__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.project-large {
  width: 100%;
  column-gap: min(3.5vw, 3rem);
  row-gap: 0rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 2rem;
}

.project-large__left {
  flex: 1 1 50%;
}

.project-large__right {
  flex: 3 1 28ch;
  padding-top: min(2vw, 1.6rem);
}

.project-large__left a:hover img {
  opacity: 80%;
}

.project-large__left img {
  width: 100%;
  height: min(calc(18rem + 5vw), 22rem);
  object-fit: cover;
  border: 2px solid var(--p-gray, #41444d);
  transition: transform 0.3s, opacity 0.3s;
}

.project-large__title {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.8rem;
  font-weight: 600;
  padding-bottom: 0.7rem;
}

.project-large__technologies {
  padding-bottom: 0.9rem;
}

.project-large__technology {
  font-family: Roboto, sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  padding: 0.4rem 0.65rem 0.35rem 0.65rem;
  margin-right: 0.18rem;
  margin-bottom: 0.18rem;
  border-radius: 100px;
  user-select: none;
}

.project-large__description {
  padding-bottom: 1.7rem;
}

.project-large__right a {
  display: inline-block;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
}
.project-large button {
  font-family: 'Work Sans', sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: -0.01em;
  border-radius: 100px;
  padding: 0.5rem 1.4rem 0.6rem 1.4rem;
  box-shadow: 0 0.1rem 0.1rem 0 rgba(205, 219, 231, 0.8);
  transition:
    color 0.2s,
    transform 0.2s,
    box-shadow 0.3s,
    background-color 0.2s,
    border-color 0.2s;
}

.project-large button:active {
  transition:
  color 0.1s,
  transform 0.15s,
  box-shadow 0.15s,
  background-color 0.1s,
  border-color 0.1s;
}

.project-large a:hover button {
  /* transform: translateY(-0.09rem); */
  box-shadow: 0 0.2rem 0.3rem 0 rgba(205, 219, 231, 1);
}

.project-large__github {
  position: relative;
  background-color: white;
  border: 1px solid var(--p-gray, #41444d);
}

.project-large__github:hover {
  /* color: var(--bright-blue, #527bb3); */
  background-color: #f8f9fa;
}
.project-large__github:active {
  /* color: var(--bright-blue, #527bb3); */
  background-color: #d3e2f0;
}

.project-large__github img {
  position: absolute;
  top: 0.5em;
  left: 1em;
  width: 1.2rem;
  height: 1.2rem;
}

.project-large__github span {
  margin-left: 1.2rem;
}

.more-projects-showcase {
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 2rem;
  padding-bottom: 6rem;
}

.project-small {
  flex: 1 1 20%;
}

.project-small img {
  width: 100%;
  height: 13rem;
  object-fit: cover;
  border: 2px solid var(--p-gray, #41444d);
  transition: transform 0.3s, opacity 0.3s;
}

.project-small a:hover img {
  opacity: 80%;
}

.project-small-title {
  font-family: 'Work Sans', sans-serif;
  font-size: min(calc(0.9rem + 0.5vw), 1.3rem);
  font-weight: 600;
  padding-bottom: 0.7rem;
  text-align: center;
}

.project-small-description {
  padding-top: 0.3rem;
  font-size: 0.85rem;
  text-align: center;
}


@media (max-width: 800px) {
  .project-small {
    flex: 1 1 45%;
  }
  .project-small-title {
    font-size: 1.3rem;
  }
}